.completed-projects_element {
    margin-left: 134px;
    margin-top: 107px;
    display: grid;
    grid-template-columns: 492px auto;
    grid-template-rows: auto auto;
}

.headline-three {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.headline-three_text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;    
    color: #FFFFFF;
}

.completed-projects_details {
    display: grid;
    grid-template-columns: 190px 482px;
    grid-template-rows: 70px auto;
}

.completed-projects_details_headline {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 34px;
    margin-bottom: 9px;
}

.completed-projects_details_text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.slider_links {
    display: flex;
}

.slider_links-item {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
    margin-right: 60px;
    cursor: pointer;
}

.slider_links-item:hover, .slider_links-item.active {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #E3B873;
    text-underline-offset: 7px;
}

.slider {
    width: 162px;
    position: relative;
    margin-top: 80px;
    margin-bottom: 100px;
}

.slider_dots  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    left: 71px;
    position: absolute;
}

.slider_dots .slider_dots-item {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background:rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin-right: 17px;
}

.slider_dots-item:hover, .slider_dots-item.active {
    background: rgba(255, 255, 255);
}

.slider_arrows {
    display: flex;
}

.slider_arrow {
    cursor: pointer;
}

.slider_arrow.left {
    position: absolute;
    left: 0;
}

.slider_arrow.right {
    position: absolute;
    left: 162px;
}

.slider_images {
    width: 679px;
    height: 482px;
    position: relative;
    margin-top: 23px;
}

.slider_images .image.active {
    opacity: 1;
}

.slider_images .image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background-position: center center;
    object-fit: cover;
}