body {
    margin: 0;
    font-family: Nunito Sans, Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1438px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83px;
    max-width: 1438px;
    margin: 0 auto;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
    margin-left: 45px;
}

.logo {
    color: #E3B873;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    min-width: 160px;
}

.telephone {
    color: #E3B873;
    text-decoration-line: underline;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    min-width: 110px;
}

.header {
    background-color: black;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation-item {
    margin-right: 47px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}

.header-navigation-item:hover {
    color: #E3B873;
}

.table {
    background-image: url(../images/table.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
    z-index: -2;
    margin: 0 auto;
}

.table::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.title {
    margin: 0;
    font-family: Yeseva One, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    padding-right: 770px;
    padding-left: 134px;
    padding-bottom: 19px;
}

.p1 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: white;
    padding-left: 134px;
    max-width: 504px;
}

.rostov {
    color: #E3B873;
}

.button2 {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    width: 207px;
    height: 51px;
    color: white;
    text-transform: uppercase;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    margin-right: -114px;
    cursor: pointer;
    margin-left: 134px;
}

.completed-projects {
    background-color: black;
    position: relative;
    height: 1074px;
    padding-top: 107px;
}

.completed-projects-list {
    list-style: none;
    display: flex;
    margin: 0 190px 45px 626px;
    justify-content: space-between;
}

.completed-projects-item {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.completed-projects-item:hover {
    color: #E3B873;
}

.completed-projects-display {
    display: grid;
    grid-template-columns: minmax(auto, 492px) auto;
    gap: 50px;
    margin-left: 133px;
    margin-right: 136px;
}

.title2 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 0;
}

.title2-content {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: white;
    margin-bottom: 47px;
}

.completed-projects-display-columns {
    display: grid;
    grid-template-columns: minmax(auto, 190px) auto;
}

.title3 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 9px;
    margin-top: 34px;
}

.title3-content {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: white;
}
.room-design {
    max-width: 679px;
}

.arrows {
    margin-top: 80px;
}

.online-control {
    display: flex;
    align-items: center;
    position: relative;  
    margin-top: -294px;
}

.online-control-headline {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 12px;
    margin-top: 0;
}

.camera-img {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 31px;
}

.dash {
    color: #E3B873;
}

.online-control-example {
    position: relative;
    margin-left: 309px;
    margin-right: 310px;
}

.online-control-example::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: rgba(0, 0, 0, 0.8);
}

.button-play {
    background: url(../images/play-button.svg) center;
    height: 100px;
    width: 100px;
    border: none;
    position: absolute;
    top: 174px;
    bottom: 175px;
    left: 366px;
    right: 366px;
    cursor: pointer;
}

.line {
    width: 55px;
    height: 2px;
    background-color:#E3B873;
    margin-top: 62px;
    margin-bottom: 34px;
    border: none;
}

.apple {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    color: #363636;
    width: 681px;
    text-align: center;
    margin-left: 377px;
}

.form-submit {
    display: grid;
    margin: 91px 334px 35px 333px;
    width: 769px;
    height: 51px;
    grid-template-columns: repeat(3, 1fr);
}

.form-submit-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.form-submit-input {
    border-style: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.button3 {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    width: 207px;
    height: 51px;
    color: white;
    text-transform: uppercase;
    font-family: Nunito Sans;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 46px;
}

.checkbox-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}

.types-of-repair {
    display: flex;
    align-items: center;
    position: relative;  
}

.types-of-repair-headline {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin-bottom: 12px;
    margin-top: 0;
}

.tools-img {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 13px;
    margin-bottom: 31px;
}

.types-of-repair-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.title4 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin: 0;
    background: white;
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 13px;
}

.title4-list {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    background: white;
    margin: 0;
}

.types-of-repair-display-item {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    height: 286px;
    background: white;
    margin-top: -120px;
    margin-left: 30px;
}

.button4 {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    width: 228px;
    height: 54px;
    color: white;
    text-transform: uppercase;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    margin-top: 10px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.building-background {
    display: flex;
    position: absolute;
    margin-top: 124px;
    margin-left: -260px;
}

.request-steps {
    display: flex;
    flex-direction: column;
    padding-top: 241px;
}

.request-steps-item {
    margin-bottom: 114px;
}